button {
  padding: 8px 16px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #555;
}

button:disabled {
  background-color: #b0abab;
  box-shadow: none;
  cursor: not-allowed;
}
#btn-setting {
  top: 1em;
}

#btn-guide {
  top: 5em;
}
#btn-guide,
#btn-setting,
#btn-list {
  background: none;
  z-index: 900;
}
#btn-list {
  align-self: self-end;
  margin-right: 2em;
  margin-left: auto;
  top: 1em;
}
#btn-list:disabled {
  background: none;
}

.floating-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 50%; /* Hình tròn */

  /* Căn giữa icon */
  display: flex;
  align-items: center;
  justify-content: center;

  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  z-index: 100; /* Luôn nổi trên cùng */
  transition: all 0.3s ease;
}
.btn-primary {
  width: 100%;
  padding: 10px;
  background-color: #58e65f;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn-primary:hover {
  background-color: #3caf1d;
}
.st,
.st * {
  margin: 0.5em;
}

.action-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  background-color: #ffeb3b;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.close-btn {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  background-color: #555;
  color: white;
  border: none;
  cursor: pointer;
}

.vol-btn {
  background: none;
  box-shadow: none;
  margin-bottom: 10px;
}
.vol-btn:hover {
  background: none;
}
