.controls,
.question {
  margin: 20px 0;
  text-align: center;
  display: flex;
  align-items: flex-start;
  gap: 20px;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  min-height: 20%;
}

.input-group {
  margin-bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

input {
  padding: 8px;
  width: 60px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
}
