.fa-solid,
.fa-regular {
  color: greenyellow;
  font-size: 2em;
}

.icon-btn {
  box-shadow: none;
  background-color: #fff;
  position: absolute;
  align-self: self-start;
  margin-right: auto;
  margin-left: 2em;
}
.icon-rotate:hover {
  transform: rotate(90deg) scale(1.15);
  background-color: #fff;
}
.icon-base:hover {
  transform: scale(1.15);
}
.close-icon {
  cursor: pointer;
  font-size: 18px;
  padding: 5px;
}
/* .close-icon:hover {
  color: #e74c3c;
} */

.info-close {
  float: right;
}
