/* ====================phần đăng nhập============================ */
/* ---  Hộp Login  --- */
#login-modal {
  z-index: 500;
}
.login-box {
  background: white;
  padding: 25px;
  height: 100%;
  width: 100%; /* Để không bị vỡ trên mobile */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ---  Căn giữa Tiêu đề --- */
.header-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  border-bottom: none; /* Bỏ gạch chân nhìn cho thoáng */
  padding-bottom: 5px;
  margin-top: 2em;
}

/* ---  Style phụ trợ cho Form đẹp hơn --- */

/* Input và Button tràn chiều ngang */
.input-full {
  width: 30rem;
  height: 2rem;
  box-sizing: border-box; /* Để padding không làm vỡ khung */
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn-full {
  display: flex;
  height: 2rem;
  width: 2rem;
  padding: 10px;
  font-size: 50%;
  justify-content: center;
  align-items: center;
}

/* Căn giữa footer chứa nút bấm */
.footer-center {
  justify-content: center;
  padding-top: 10px;
  display: inline-block;
}
.login-input {
  flex-direction: column;
}

#login {
  color: #000;
}
